[Desktop Entry]
Type=Application
Name=osu!
MimeType=application/x-wine-extension-osk;
Exec=osu-wine %f
NoDisplay=true
StartupNotify=true
Icon=osu-wine
